// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";





.jumbotron {
  background-image:url('https://ws1.sinaimg.cn/large/006tNc79gy1fleikn5wh8j30zk0n2qf3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  position: relative;
  border-radius: 0;
  height:611px;
}
.jumbotron-wrap{
    position: absolute;
    left: 0;
    top:0px;
    width:100%;
    height:611px;
    background:rgba(0,0,0,.3);
    -webkit-filter: blur(2px);
    margin: 0 auto;
    z-index: -1;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0px;
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}



.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

 .btn-welcome {
     padding: 8px 16px;//通过padding来决定btn的大小
     font-size: 20px;//btn文字大小
     letter-spacing: 3px;//调整文字间距
     border-radius: 3px;//btn圆角
     width: 200px;//这里用指定宽度把btn拉得更长
     background:#f60;
     color:#fff;
 }
